extends layout

block content
  header 
    a(href="/") Courses Inventory 
  main.mcontainer
    section(class='courses container')
      h1= course.title 
      p= course.description 
      p #[strong Instructor]: #{course.instructor.name} 
      p #[strong Price]: #{course.price}$
    .links
      a(href=course.url+'/update') Update course  details 
      a(href=course.url+'/delete') delete  this course 
      
      