extends layout

block content
  header 
    a(href="/") Courses Inventory 
  main.mcontainer
    section(class='courses container')
      h1= title
      p= instructor.name +','+' '+ instructor.qualifications 
      h2 Courses 
      .inscourses
        each course in courses
          a(href=`${course.url + '/details'}`)
            .course
              h2 #{course.title}
              .description #{course.description}
    .links
      a(href=instructor.url+'/update') Update Instructor details 
      a(href=instructor.url+'/delete') delete  Instructor 
      
      